@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(../public/fonts/Lausanne-300.woff2);
}

@font-face {
  font-family: font2;
  src: url(../public/fonts/Lausanne-500.woff2);
}


@keyframes marquee {
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
  will-change: transform;
}
